{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card border-success mb-3" style="max-width: 30rem;">
                <div class="card-header bg-transparent border-success text-muted text-center">{{ lieu.id }}</div>
                <div class="card-body text-success">
                    <p class="card-text"> Ville : {{ lieu.ville }} </p>
                    <p class="card-text"> Nom du lieu : {{ lieu.nomLieu }}</p>
                    <p class="card-text"> Rue : {{ lieu.rue }}</strong></p>
                    <p class="card-text"> Latitude : {{ lieu.latitude }}</p>
                    <p class="card-text"> Longitude : {{ lieu.longitude }}</strong></p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <div class="d-inline-block align-items-center">
                        <a href="{{ path('lieu_edit', {'id': lieu.id}) }}" class="btn btn-success">
                            <img alt="plus" class="plus" src="{{ asset('build/images/update.svg') }}"></a>
                        <div class="d-inline-block">
                            <form method="post" action="{{ path('lieu_delete', {'id': lieu.id}) }}"
                                  onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce lieu ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
                                <button class="btn btn-danger"><img alt="plus" class="plus"
                                                                    src="{{ asset('build/images/close.svg') }}">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
