{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    {% if sortie.organisateur == app.user and app.user.roles == ['ROLE_ADMIN'] and sortie.etat != "PAS" and sortie.etat != "ANN" and sortie.etat != "ENC" %}
        <h1 class="text-muted">Modifier la sortie</h1>

        {{ form_errors(form) }}
        <div class="container mt-4">
            <div class="form-group">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        <div class="message_erreur">
                            {{ form_errors(form.nom) }}
                        </div>
                        {{ form_label(form.dateDebut) }}
                        {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
                        <div class="message_erreur">
                            {{ form_errors(form.dateDebut) }}
                        </div>
                        {{ form_label(form.dateCloture) }}
                        {{ form_widget(form.dateCloture, {'attr': {'class': 'form-control'}}) }}
                        <div class="message_erreur">
                            {{ form_errors(form.dateCloture) }}
                        </div>
                        {{ form_label(form.nbInscriptionsMax) }}
                        {{ form_widget(form.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
                        <div class="message_erreur">
                            {{ form_errors(form.nbInscriptionsMax) }}
                        </div>
                        {{ form_label(form.duree) }}
                        {{ form_widget(form.duree, {'attr': {'class': 'form-control'}}) }}
                        <div class="message_erreur">
                            {{ form_errors(form.duree) }}
                        </div>
                        {{ form_label(form.descriptionInfos) }}
                        {{ form_widget(form.descriptionInfos, {'attr': {'class': 'form-control'}}) }}
                        <div class="message_erreur">
                            {{ form_errors(form.descriptionInfos) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label id="organisateur">Ville Organisatrice : </label>
                        <br>

                        {{ sortie.site.nom }}

                        <br><br>
                        {# modal creation ville #}
                        {{ form_label(form.ville) }}
                        <div class="row">
                            <div class="col-10">
                                {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-1">
                                <button type="button" data-toggle="modal" data-target="#modalVille" class="btn bouton">+
                                </button>
                            </div>
                        </div>
                        {# modal creation lieu #}
                        {{ form_label(form.lieu) }}
                        <div class="row">
                            <div class="col-10">
                                {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-1">
                                <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg"
                                        class="btn bouton">+
                                </button>
                            </div>
                        </div>
                        <label id="rue">Rue :</label>
                        <br><br>
                        <label id="rue">Code Postal :</label>
                        <br><br>
                        <label id="rue">Latitude :</label>
                        <br><br>
                        <label id="rue">Longitude :</label>
                    </div>
                </div>
                <br><br>
                <div id="boutons">
                    <div class="row justify-content-center">
                        {% if sortie.organisateur == app.user and sortie.etat != "ENC" %}
                        <div> {{ form_widget(form.modifier) }} &nbsp &nbsp &nbsp
                            {% endif %}
                            {% if sortie.etat == 'CRE' %}

                                <a href="{{ path('sortie_edit', {'id': sortie.id }) }}">
                                    <button class="bouton" name="publier">Publier</button>
                                </a>&nbsp &nbsp &nbsp
                            {% endif %}
                            {{ form_end(form) }}
                        </div>
                        <div>
                            <a href="{{ path('sortie_index') }}">
                                <button class="bouton">Annuler</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- pour le bouton '+' de Lieu et modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group ">
                            {{ form_errors(formLieu) }}
                            {{ form_start(formLieu) }}

                            {{ form_label(formLieu.nomLieu) }}
                            {{ form_widget(formLieu.nomLieu) }}
                            <br>
                            {{ form_label(formLieu.rue) }}
                            {{ form_widget(formLieu.rue) }}
                            <br>
                            {{ form_label(formLieu.latitude) }}
                            {{ form_widget(formLieu.latitude) }}
                            <br>
                            {{ form_label(formLieu.longitude) }}
                            {{ form_widget(formLieu.longitude) }}
                            <br>
                            {{ form_label(formLieu.ville) }}
                            {{ form_widget(formLieu.ville) }}

                            {{ form_errors(formLieu.ville) }}

                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ form_widget(formLieu.submit) }}
                        {{ form_widget(formLieu.submit) }}


                        {{ form_end(formLieu) }}

                        <button type="button" class="btn bouton" data-dismiss="modal">Fermer</button>
                    </div>
                    {{ form_end(formLieu) }}

                </div>
            </div>
        </div>

        <!-- pour le bouton '+' de Ville et modal -->
        <div class="modal fade" id="modalVille" tabindex="-1" role="dialog" aria-labelledby="modalVilleLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group ">
                            {{ form_start(formVille) }}

                            {{ form_label(formVille.nom) }}
                            {{ form_widget(formVille.nom) }}
                            <div class="message_erreur">
                                {{ form_errors(formVille.nom) }}
                            </div>
                            <br>
                            {{ form_label(formVille.codePostal) }}
                            {{ form_widget(formVille.codePostal) }}
                            <div class="message_erreur">
                                {{ form_errors(formVille.codePostal) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ form_widget(formVille.submit) }}
                        {{ form_widget(formVille.submit) }}

                        {{ form_end(formVille) }}

                        <button type="button" class="btn bouton" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Retente ta chance !</h1><br>
        <img  class="rounded mx-auto d-block" src="{{ asset('build/images/shame.gif') }}" alt="Noooo"/>
    {% endif %}
{% endblock %}
