{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1 class="text-muted">Liste des sorties</h1>

    <div class="jour">Date du jour : {{ date('now') | date('d/m/Y') }}</div>

    <br>
    <div class="container">
        <div class="form-group ">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-4 col-xl">
                    {{ form_label(form.Site) }}
                    {{ form_widget(form.Site) }}
                    {{ form_errors(form.Site) }}
                    <br>
                    {{ form_label(form.search) }}
                    {{ form_widget(form.search) }}
                    {{ form_errors(form.search) }}

                    <br>
                    <div class="row">
                        <div class="col-6 col-xl">

                            {{ form_label(form.dateDebut) }}
                            {{ form_widget(form.dateDebut) }}
                            {{ form_errors(form.dateDebut) }}
                        </div>
                        <div class="col-6 col-xl">

                            {{ form_label(form.dateFin) }}
                            {{ form_widget(form.dateFin) }}
                            {{ form_errors(form.dateFin) }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-4 col-xl mt-xl-auto align-self-center">
                    {{ form_widget(form.check ) }}
                    {{ form_label(form.check) }}
                    {{ form_errors(form.check) }}
                    <br>
                </div>
            </div>
            <div class="col-4 col-xl mt-xl-auto align-self-center">
                {{ form_label(form.submit) }}
                {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>


    {{ form_end(form) }}
    <br>

    <div class="container">
        <div class="form-group ">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom de la sortie</th>
                                <th>Date de la sortie</th>
                                <th>Clôture</th>
                                <th>Inscris/Places</th>
                                <th>Etat</th>
                                <th>Inscris</th>
                                <th>Organisateur</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sortie in sorties %}
                                <tr>
                                    <td>{{ sortie.nom }}</td>
                                    <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s', "Europe/Paris") : '' }}</td>
                                    <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s', "Europe/Paris") : '' }}</td>
                                    <td>{{ sortie.nbInscriptions }}/{{ sortie.nbInscriptionsMax }}</td>
                                    <td>
                                        {% if sortie.etat == 'CRE' %}
                                            En création
                                        {% elseif sortie.etat == 'OUV' %}
                                            Ouverte
                                        {% elseif sortie.etat == 'ENC' %}
                                            En cours
                                        {% elseif sortie.etat == 'PAS' %}
                                            Passée
                                        {% elseif sortie.etat == 'ANN' %}
                                            Fermée
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if sortie.estInscris(app.user) %}
                                            X
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ path('user_show', {'id': sortie.organisateur.id}) }}"
                                        >{{ sortie.organisateur }}</a></td>
                                    <td>

                                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}"
                                           class="btn btn-primary">
                                            <img alt="plus" class="plus" src="{{ asset('build/images/look.svg') }}"></a>
                                        {% if sortie.organisateur == app.user %}
                                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}"
                                           class="btn btn-success">
                                            <img alt="plus" class="plus"
                                                 src="{{ asset('build/images/update.svg') }}"></a>
                                        <div class="d-inline-block">
                                            <a href="{{ path('sortiecancel', {'id': sortie.id}) }}"
                                               class="btn btn-danger">
                                                <img alt="plus" class="plus"
                                                     src="{{ asset('build/images/close.svg') }}"></a>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if app.user != sortie.organisateur %}
                                            {% if sortie.estInscris(app.user) == false %}
                                                <a href="{{ path('inscription_new', {'id': sortie.id}) }}"
                                                   class="btn btn-success">
                                                    <img alt="plus" class="plus"
                                                         src="{{ asset('build/images/clic.png') }}"></a>
                                            {% endif %}
                                            {% if sortie.estInscris(app.user) %}
                                                <form method="post"
                                                      action="{{ path('inscription_delete', {'id': sortie.id}) }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token"
                                                           value="{{ csrf_token('delete' ~ sortie.id) }}">
                                                    <button class="btn btn-danger"><img alt="plus" class="plus"
                                                                                        src="{{ asset('build/images/close.svg') }}">
                                                    </button>
                                                </form>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="9" class="text-muted">Oups aucune sortie trouvée</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ path('sortie_new') }}">
                        <button class="btn bouton">Créer une sortie</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
