{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1 class="text-muted">{{ sortie.nom }}</h1>
    <br>
    <div class="container-fluid">
    <div id="accordeon">
        <div class="card border-success mb-3">
            <div class="card-header border-success mb-3">
                <a href="#item1" class="card-link" data-toggle="collapse" data-parent="#accordeon">Informations sur la sortie</a>
            </div>
            <div class="collapse show" id="item1">
                <div class="card-body">
                    <p class="card-text text-center"> <u>Date limite de l'inscription </u>: <strong>{{ sortie.dateCloture ? sortie.dateCloture|date('d/m/Y') : '' }}</strong></p>
                    <p class="card-text text-center"> <u>Nombre de places </u>: <strong>{{ sortie.nbInscriptionsMax }}</strong></p>
                    <p class="card-text text-center"> <u>Durée </u>: <strong>{{ sortie.duree }} minutes</strong></p>
                    <p class="card-text text-center"> <u>Description et infos </u>: <strong>{{ sortie.descriptionInfos }}</strong></p>
                    <p class="card-text text-center"> <u>Ville Organisatrice </u>: <strong>{{ sortie.site.nom }}</strong></p>
                    <p class="card-text text-center"> <u>Lieu </u>: <strong>{{ sortie.lieu.nomLieu }}</strong></p>
                    <p class="card-text text-center"> <u>Rue </u>: <strong>{{ sortie.lieu.rue }}</strong></p>
                    <p class="card-text text-center"> <u>Code Postal </u>: <strong>{{ sortie.lieu.ville.codePostal }}</strong></p>
                    <p class="card-text text-center"> <u>Latitude </u>: <strong>{{ sortie.lieu.latitude }}</strong></p>
                    <p class="card-text text-center"> <u>Longitude </u>: <strong> {{ sortie.lieu.longitude }}</strong></p>
                </div>
            </div>
            {% if listeParticipant|length >0 %}
                <div class="card-header border-success mb-3">
                    <a href="#item2" class="card-link" data-toggle="collapse" data-parent="#accordeon">Liste des participants {{ listeParticipant|length }}/ {{ sortie.nbInscriptionsMax }} </a>
                </div>
                <div class="collapse" id="item2">
                    <div class="card-body">
                        {% for Inscription in listeParticipant %}
                            <p class="card-text text-center "> <a href=" {{ path('user_show', {'id': Inscription.participant.id }) }}"
                                >{{ Inscription.participant.pseudo }} | {{ Inscription.participant.nom }} {{ Inscription.participant.prenom }}</a></p>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="card-header">
                <a href="#item3" class="card-link" data-toggle="collapse" data-parent="#accordeon">Modifications</a>
            </div>
            <div class="collapse" id="item3">
                <div class="card-body">
                    <div class="d-inline-block align-items-center">
                        {% if sortie.organisateur == app.user and app.user.roles == ['ROLE_ADMIN'] and sortie.etat != "PAS" and sortie.etat != "ANN" and sortie.etat != "ENC" %}
                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="btn btn-success">
                            <img alt="plus" class="plus" src="{{ asset('build/images/update.svg') }}"></a>
                        {% endif %}
                        <div class="d-inline-block">

                            {% if sortie.etat != 'PAS' and sortie.etat !='ENC' and sortie.etat !='ANN' %}

                            <form method="post" action="{{ path('sortie_delete', {'id': sortie.id}) }}"
                                  onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cette sortie ?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
                                <button class="btn btn-danger"><img alt="plus" class="plus"
                                                                    src="{{ asset('build/images/poubelle.png') }}">
                                </button>
                                {% endif %}
                            </form>
                            {% if app.user != sortie.organisateur %}
                                {% if sortie.etat != 'PAS' and sortie.etat != 'ANN' %}
                                    {% if sortie.estInscris(app.user) == false %}
                                        <a href="{{ path('inscription_new', {'id': sortie.id}) }}"
                                           class="btn btn-success">
                                            <img alt="plus" class="plus"
                                                 src="{{ asset('build/images/clic.png') }}"></a>
                                    {% endif %}
                                    {# bouton non fonctionnel
                                    {% if sortie.estInscris(app.user) %}
                                        <form method="post"
                                              action="{{ path('inscription_deleteUser', {'id': sortie.id }) }}">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ sortie.id) }}">
                                            <button class="btn btn-danger"><img alt="plus" class="plus"
                                                                                src="{{ asset('build/images/close.svg') }}">
                                            </button>
                                        </form>
                                    {% endif %}
                                    #}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <br>

    <div class="row">
        <div class="col-auto align-items-center">
            <a href="{{ path('sortie_index') }}">
                <button class="btn bouton ">Retour à la liste</button>
            </a>
        </div>
    </div>


{% endblock %}