{% extends 'base.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}
    <h1 class="text-muted">Editer une ville </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn bouton">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('ville_index') }}"><button class="btn bouton">Retour</button></a>

    {{ include('ville/_delete_form.html.twig') }}
{% endblock %}
