{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <h1 class="text-muted">{{ ville.nom }}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ville.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
    <a href="{{ path('ville_index') }}"><button class="btn bouton">Retour à la liste</button></a>
        </div>
        <div class="col-auto">
    <a href="{{ path('ville_edit', {'id': ville.id}) }}"><button class="btn bouton">Modifier</button></a>
        </div>
        <div class="col-auto">
    <form method="post" action="{{ path('ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette ville ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
        <button class="btn bouton">Supprimer</button>
    </form>
        </div>
    </div>
</div>
{% endblock %}
