{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success text-muted text-center">{{ ville.id }}</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Ville de {{ ville.nom }}</h5>
                        <p class="card-text">Code postal : {{ ville.codePostal }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <div class="d-inline-block align-items-center">
                            <a href="{{ path('ville_edit', {'id': ville.id}) }}" class="btn btn-success">
                                <img alt="plus" class="plus" src="{{ asset('build/images/update.svg') }}"></a>
                            <div class="d-inline-block">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <a href="{{ path('ville_index') }}">
                        <button class="btn bouton ">Retour à la liste</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
