{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-muted">Inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription.id }}</td>
            </tr>
            <tr>
                <th>DateInscription</th>
                <td>{{ inscription.dateInscription ? inscription.dateInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inscription_index') }}"><button class="btn bouton">Retour à lal liste</button></a>

    <a href="{{ path('inscription_edit', {'id': inscription.id}) }}"><button class="btn bouton">Modifier</button></a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
