{% extends 'base.html.twig' %}
{% block title %}Modifier Profil{% endblock %}

{% block body %}
    {% if app.user.id == user.id %}
<h1  class="text-muted">Modifier votre profil</h1>

<div id="profil">
    {{ form_start(form) }}
    <div id="imgUpload">
        {% if app.user.img is empty %}
            {{ form_row(form.img) }}
        {% else %}
            <img id="avatar" alt="avatar"  src="{{ asset('uploads/photos/') }}{{ user.img }}">
            {{ form_row(form.img) }}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ form_row(form.pseudo) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.telephone) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.site) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
    <button class="bouton">{{ button_label|default('Enregistrer') }}</button>

    {{ form_end(form) }}
        </div>
        <div class="col-6">
    <button class="bouton"><a href="{{ path('user_show', { 'id' : app.user.id}) }}">Annuler</a></button>
        </div>
    </div>
</div>
    {% else %}
        <h1  class="text-muted">Retente ta chance</h1>
        <img  class="align-items-center" src="{{ asset('build/images/shame.gif') }}" alt="Noooo"/>

    {% endif %}
{% endblock %}
